.admin-dashboard {
  padding: 20px;
  text-align: center;
}

.admin-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.admin-empty {
  color: gray;
}

.admin-item-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
